.alignleft {
  float: left;
}

img.alignleft {
  padding: 0 20px 20px 0;
}

.about-us p {
  line-height: 23px;
}

.page-title {
  text-align: center;
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
