.blog-posts-grid {
  display: flex;
}

.blog-post-item {
  flex: 1;
  border-right: 5px solid black;
  margin: 10px;
  padding: 20px;
  border-bottom: 5px solid black;
}

.blog-post-item h4 {
  font-size: 16px;
  margin-bottom: 2px;
  margin-top: 5px;
}

.time-stamp {
  font-size: 13px;
}

.blog-item-link {
  float: right;
  padding: 10px;
  color: black;
  background-color: transparent;
  transition: 0.15s all ease;
}

.blog-item-link:hover {
  background-color: lightgray;
}

.blog-item-link:visited {
  color: black;
}

.page-title {
  text-align: center;
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
